micronaut:
    application:
        name: backend
    server:
        port: 8081
        cors: 
            enabled: true
    security:
        enabled: true
        endpoints:
            login:
              enabled: true
        token:
            jwt:
                enabled: true
                signatures:
                    secret:
                        generator:
                            secret: pleaseChangeThisSecretForANewOne
                            jws-algorithm: HS256

datasources:
    default:
        url: jdbc:mariadb://localhost:3306/db_openkursi
        username: root
        password: "password"
        driverClassName: org.mariadb.jdbc.Driver 
jpa:
  default:
    properties:
      hibernate:
        hbm2ddl:
          auto: update
